<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amazon.com</key>
	<string>yes</string>
	<key>netflix.com</key>
	<string>yes</string>
	<key>ebay.co.uk</key>
	<string>yes</string>
	<key>github.com</key>
	<string>yes</string>
</dict>
</plist>
